body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  background-color: #282a36;
  color: #f8f8f2;
  font-family: STXihei, '华文细黑', 'Microsoft YaHei', '微软雅黑';
}
h1,
#subtitle {
  padding: 10px;
  margin: 0;
}
#campus-option {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
#charger-table-container {
  padding: 10px;
}
#last-fetch-time {
  vertical-align: middle;
}
#a-to-github {
  padding-left: 10px;
  vertical-align: middle;
  color: unset;
}
#refresh-btn {
  border: 0;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #50fa7b;
  color: black;
  cursor: pointer;
}
#refresh-btn:hover {
  background: rgba(80, 250, 123, 0.8);
}
#campus-option {
  font-size: 22px;
  margin: 12px;
}
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 45px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
}
/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  vertical-align: middle;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  left: 10px;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #8be9fd;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.charger-table {
  white-space: nowrap;
  border: 1px solid #44475a;
  border-collapse: collapse;
}
.charger-table .data-row {
  border: 1px solid #44475a;
}
.charger-table .data-row td {
  border: 1px solid #44475a;
  padding: 10px;
  text-align: center;
}
.charger-table .data-row .star {
  cursor: pointer;
}
.charger-table .data-row .status.occupied {
  background-color: #ff5555;
}
.charger-table .data-row .status.free {
  background-color: #50fa7b;
  color: black;
}

